* {
    margin: 0;
    padding: 0;
    background: rgb(20, 20, 20);
}

.container {
    width: 100%;
}

header {
    display: none;
    justify-content: space-between;
    margin: 2.5% 10%;
}

.brand_logo {
    color: aliceblue;
    font-size: 1rem;
}

.socialLink a {
    text-decoration: none;
    color: aliceblue;
    margin: 0 5px;
}



/* Profile ................. */

.profile {
    justify-content: center;
    align-items: center;
    max-width: 450px;
    margin: 100px auto;
    text-align: center;
    color: aliceblue;
}

.profile .img {
    margin: 10px auto 15px;
}

.profile .img img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    mix-blend-mode: luminosity;
}

.profile span {
    font-size: .8rem;
    word-spacing: .1rem;
    letter-spacing: .1rem;
}

.profile h1 {
    margin: 25px auto 20px;
}

button {
    color: aliceblue;
    padding: 10px 25px;
    margin: 10px auto;
    font-size: .8rem;
    word-spacing: .1rem;
    letter-spacing: .1rem;
    background: rgb(44, 43, 43);
    border-width: 2px;
    border-color: rgb(182, 181, 181);
}



/* brands .............. */

.brands {
    background: rgb(44, 43, 43);
    overflow: hidden;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.brands div {
    width: 100px;
    height: 100px;
    margin: 0 40px;
}

.brands img {
    width: 100px;
    height: 100px;
    /* object-fit: cover; */
    mix-blend-mode: luminosity;
    /* -webkit-filter: grayscale(100%); */
    filter: contrast(79%);
}

.brands .brand1 {
    margin: 0 70px 0 0;
}

.brands .brand1 img {
    width: 170px;
}

.brands .brand6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(44, 43, 43);
}

.brands .brand6 img {
    width: 160px;
    height: fit-content;
}

.brands .brandp p {
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    background: rgb(44, 43, 43);
    font-size: 1.7rem;
}


/* collaboration ............. */


.collaboration h1 {
    color: aliceblue;
    text-align: center;
    margin: 80px auto 40px;
    font-size: 2rem;
    max-width: 550px;
}

.collaboration .agencies {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.agencies .works {
    padding: 100px 10px 15px;
    background: rgb(44, 43, 43);
    margin: 10px;
    width: 120px;
}

.agencies div,
.bx {
    color: rgb(123, 120, 120);
    background: rgb(44, 43, 43);
}

.agencies h6 {
    background: rgb(44, 43, 43);
    font-size: .8rem;
    margin: 4px 0 7px;
}

.agencies p {
    background: rgb(44, 43, 43);
    font-size: .7rem;
    max-width: 100px;
}
















/* Tablet size ............. */

@media (min-width:768px) {

    header {
        display: flex;
    }

    .profile h1 {
        font-size: 3rem;
        margin: 25px auto 20px;
    }
}






/* Laptop size ............. */

@media (min-width:450px) {

    .profile h1 {
        font-size: 3rem;
        margin: 25px auto 20px;
    }
}




